*, *::after, *::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background-color: rgba(250, 246, 238, 1);
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    

}
.header__top{
    display: flex;
    justify-content: space-between;   
    border-bottom: 2px solid #E5E5E5;
    margin-left:  -120px;
    margin-right: -120px;
    
}

.header__img{
    margin-left: 40px;
    padding-top: 28px;
    margin-bottom: 15px;
 
}
.menu{
    margin-top: 10px;
    margin-bottom: 15px;
}
.menu__ul{
list-style-type: none;
display: flex;
justify-content: space-between;
}
.menu__li + .menu__li{
    padding-left: 105px;

}
.menu__link{
color: #111010;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
}
.menu__link:hover{
    border-bottom: 2px solid blue;
}
.header__search{
   display: flex;
   justify-content: space-between; 
   margin-right: 50px;
   margin-top: 10px;
  margin-bottom: 15px;
}

.header__bag{
    
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 30px;
}
.header__number{
font-size: 16px;
color: #111010;
line-height: 16px;

float: right;

}
.header__images{
    margin-top: 2px;
}
